<!DOCTYPE html>
<html>
<head>
    <title>Patient Diagnosis</title>
</head>
<body>
    <h1>Patient Diagnosis Prediction</h1>
    <form method="POST" action="/predict">
        <label for="name">Patient Name:</label>
        <input type="text" id="name" name="name" required>
        <br><br>
        <input type="submit" name="diagnosis" value="Predict Diagnosis">
        <input type="submit" name="heart_diagnosis" value="Predict Heart Diagnosis">
        <input type="submit" name="blood_sugar_diagnosis" value="Predict Blood Sugar Diagnosis">
    </form>
    <br>
    {% if patient_name %}
        <h2>Patient: {{ patient_name }}</h2>
    {% endif %}
    {% if diagnosis_prediction %}
        <p>Diagnosis Prediction: {{ diagnosis_prediction }}</p>
    {% endif %}
    {% if heart_diagnosis_prediction %}
        <p>Heart Diagnosis Prediction: {{ heart_diagnosis_prediction }}</p>
    {% endif %}
    {% if blood_sugar_diagnosis_prediction %}
        <p>Blood Sugar Diagnosis Prediction: {{ blood_sugar_diagnosis_prediction }}</p>
    {% endif %}
    {% if graph_path %}
        <img src="data:image/png;base64,{{ graph_image }}" alt="Graph">
    {% endif %}

</body>
</html>
